body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.bgcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 60px;
    background-image: url('../Images/bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px
}

.title h1 {
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 10px
}
.title p {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 10px
}

.email {
    height: 30px;
    width: 300px;
    background-color: transparent;
    border-radius: 20px;
    border: solid 2px white;
}

.email::placeholder {
    color: #ffffff;
    padding: 10px
}

.btn {
    margin: 20px;
    height: 30px;
    width: 100px;
    border-radius: 20px;
    background-color: white;
    color: #32CBF4;
    border: solid 5px white;
}

.minititle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
}

.minititle p {
    color: grey;
    margin-bottom: 10px
}

.minititle h1 {
    font-size: 30px;
    margin-bottom: 5px
}

.profiles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.profiles div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 100px 0 100px;
    padding: 40px;
    padding-bottom: 20px;
    background-color: #F4F4F4;
    width: 250px;
}

.profiles div img {
    padding: 30px
}

.name {
    color: #465FF9;
    padding: 20px
}

ul {
    background-color: #292929;
    height: 40px;    
}
li {
    display: inline;
    float: left;
}

a {
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: #1e1e1e;
    color: #ffffff;
    text-decoration: none;
    height: 24px;
}